{% extends "::LayoutAdmin/integration.html.twig" %}
  {% block upload %}

        <!-- Dropzone css -->
        <link href="{{asset('java/plugins/dropzone/dist/dropzone.css')}}" rel="stylesheet" type="text/css">






  <div class="col-lg-11">
                    <div class="card">
                     <form action="" method="post" class="form" id="form" >
                      <div class="card-header">

<h1>Ajout de bien avec ses photos</h1>
                      </div>

                      <div class="card-body ">

  <form method="POst">
<div class="form-group list-group-item" style="padding-bottom:30px">


            <div class="form-group">
  <table class="table table-bordred table-striped table-inverse display">
    <tr><td><h4>Infos du proprietaire</h4></td><td>
 </td></tr>
    <tr><td><strong>Nom    </strong></td><td><input type="text" class="form-control"   aria-describedby="emailHelp"
> </td></tr>
   <tr><td><strong>prenom       </strong></td><td><input type="text" class="form-control"  aria-describedby="emailHelp"
> </td></tr>
    <tr><td><strong>CNI         </strong></td><td><input type="number" class="form-control"  aria-describedby="emailHelp"
> </td></tr>
    <tr><td><strong>Addresse            </strong></td><td><input type="text" class="form-control"  aria-describedby="emailHelp"
> </td></tr>
       <tr><td><strong>email         </strong></td><td><input type="text" class="form-control"  aria-describedby="emailHelp"
> </td></tr>
<tr><td><strong>code bancaire        </strong></td><td><input type="number" class="form-control"  aria-describedby="emailHelp"
> </td></tr>
<tr><td><h4>Infos du bien</h4></td><td>
 </td></tr>
     <tr><td><strong>Nom localité         </strong></td><td><input type="text" class="form-control"  aria-describedby="emailHelp"
> </td></tr>
     <tr><td><strong>Nom Bien         </strong></td><td><input type="text" class="form-control"  aria-describedby="emailHelp"
> </td></tr>
     <tr><td><strong>Prix         </strong></td><td><input type="number" class="form-control"  aria-describedby="emailHelp"
> </td></tr>
 <tr><td><strong>NomType         </strong></td><td><input type="text" class="form-control"  aria-describedby="emailHelp"
> </td></tr>
</td></tr>
     <tr><td><strong>Adresse         </strong></td><td><input type="text" class="form-control"  aria-describedby="emailHelp"
> </td></tr>
     <tr><td><strong>Description         </strong></td><td><input type="textarea" class="form-control"  aria-describedby="emailHelp"
> </td></tr>

<div class="form-right-group">
</td></tr>

</td></tr>


  </div>
  </div>
  </td></tr>
<tr><td> {# Génération du label. #}
<strong id="in">Insérer ici des images

</strong>
            </td> <td>
            {{ form(formI)}}
   <div class="row" >
                            <div class="col-md-12 portlets">
                                <!-- Your awesome content goes here -->
                                <div class="m-b-30">
                                    <form action="#" class="dropzone" id="dropzone" >
                                      <div class="fallback" id="photos">
                                        <input name="file" type="file" multiple="multiple" >
                                      </div>
                                    </form>
                                </div>
                            </div>
                        </div>


      {# Génération de l'input. #}



</td></tr>

            <tr><td>
        </td><td><input class="btn btn-dark" type="submit" value="Enregistrer" />
        </td></tr>


        </table>
        </div>
</form>


                      </div>


 </form>


                    </div>




        </div>
         <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="{{asset('java/js/modernizr.min.js')}}"></script>
        <script src="{{asset('java/js/jquery.min.js')}}"></script>
        <script src="{{asset('java/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('java/js/detect.js')}}"></script>
        <script src="{{asset('java/js/fastclick.js')}}"></script>
        <script src="{{asset('java/js/jquery.slimscroll.js')}}"></script>
        <script src="{{asset('java/js/jquery.blockUI.js')}}"></script>
        <script src="{{asset('java/js/waves.js')}}"></script>
        <script src="{{asset('java/js/wow.min.js')}}"></script>
        <script src="{{asset('java/js/jquery.nicescroll.js')}}"></script>
        <script src="{{asset('java/js/jquery.scrollTo.min.js')}}"></script>
<script>
$('#dropzone').change(function() {
    console.log("changer");


    /*  $("#preview").each(function(e) {
        this.remove();
    });
    var file = $(this);
    var reader = new FileReader;
    reader.onload = function(event) {
        var img = new Image();
        img.onload = function() {
            var width = 140;
            var height = 90
            var canvas = $('<canvas id="preview"></canvas>').attr({ width: width, height: height });
            file.after(canvas);
            var context = canvas[0].getContext('2d');
            context.drawImage(img, 0, 0, width, height);
        };
        img.src = event.target.result;
    };
    reader.readAsDataURL(file[0].files[1]);
*/
});

</script>
        <script src="{{asset('java/js/jquery.app.js')}}"></script>

        <!-- Page Specific JS Libraries -->
        <script src="{{asset('java/plugins/dropzone/dist/dropzone.js')}}"></script>


{% endblock %}

